.tip-left {float: left;  width: 60%;}
.hover-tip {position: absolute;left: 60%;min-width: 300px;}


.pay-calculate {
  max-width: 260px;
  border: 1px solid #adadad;
}
.pay-calculate tr, .pay-calculate td{
  border: 1px solid #adadad;
}
.pc-row {
  text-align: center;
}
.pc-col {
  width: 16.67%;
  height: 60px;
  background-color: #efefef;
}
.pc-col-2 {

}
.bg-gray {
  background-color: darkgray;
}

