.employee-user-img-text {
  border-top: 1px solid #e1e6ef;
  border-bottom: 1px solid #e1e6ef;
}

.public-profile,
.personal-information,
.personal-experience,
.personal-education {
  border-bottom: 1px solid #e1e6ef;
}


.employee-user-image-big {
  img {
    width: 200px;
    height: 200px;
  }
}
