.login-body {
  background: url(./~/assets/img/bg.jpg) repeat-y center;
  .logon-content {
    padding-top: 40px;
    display: table-cell;
    height: 100vh;

    .login-logo {
      width: 120px;
    }
  }
}
