<div class="login-body">
  <div class="container d-table">
    <div class="logon-content">
      <div class="text-center">
        <img src="assets/img/logo/logo.png" class="login-logo img-fluid" alt="logo">
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-block" *ngIf="!isSet">
                <form (ngSubmit)="save()" name="mainForm" #mainForm="ngForm">
                  <h2 class="text-center">{{'auth.re_password' | translate}}</h2>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                    <input [(ngModel)]="email" required #emailHandler="ngModel" type="text"
                           name="email"
                           class="form-control" placeholder="Email" email="true">
                  </div>
                  <div *ngIf="emailHandler.errors && (emailHandler.dirty || emailHandler.touched)"
                       class="alert alert-danger">
                    <div [ngClass]="{'d-none': !emailHandler.errors.required}">
                      {{'auth.message.email_required' | translate}}
                    </div>
                    <div [ngClass]="{'d-none': emailHandler.errors.required}">
                      {{'auth.message.email_incorrect' | translate}}
                    </div>
                  </div>
                  <div class="input-group mt-1">
                    <span class="input-group-addon">
                      <i class="icon-lock"></i>
                    </span>
                    <input [(ngModel)]="password" minlength="6" required #passwordHandler="ngModel"
                           type="text"
                           name="password" class="form-control" placeholder="Password"
                           password="true"
                           onfocus="this.type='password'">
                  </div>
                  <div
                    *ngIf="passwordHandler.errors && (passwordHandler.dirty || passwordHandler.touched)"
                    class="alert alert-danger">
                    <div [ngClass]="{'d-none': !passwordHandler.errors.required}">
                      {{'auth.message.password_required' | translate}}
                    </div>
                    <div [ngClass]="{'d-none': !passwordHandler.errors.minlength}">
                      {{'auth.message.password_length_error' | translate}}
                    </div>
                  </div>

                  <div class="input-group mt-2">
                    <span class="input-group-addon">
                      <i class="icon-lock"></i>
                    </span>
                    <input type="password" [(ngModel)]="confirm_password" required #confirmPassword="ngModel"
                           id="confirmPassword"
                           name="confirmPassword" class="form-control"
                           placeholder="{{'auth.confirm_password' | translate}}"
                           password="true"
                           onfocus="this.name='confirmPassword'" validateEqual="confirmPassword">
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="(confirmPassword.errors || (confirm_password !== password)) && (confirmPassword.dirty || confirmPassword.touched)">
                    <div [ngClass]="{'d-none': !confirmPassword.errors?.required}">
                      {{'auth.message.confirm_password_required' | translate}}
                    </div>
                    <div [ngClass]="{'d-none': password === confirm_password || confirmPassword.errors?.required}">
                      {{'auth.message.password_is_not_same' | translate}}
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary btn-block px-2"
                            [disabled]="emailHandler.errors || passwordHandler.errors || Loading || confirmPassword.errors || password !== confirm_password">
                      {{'button.submit' | translate}}
                    </button>
                  </div>
                  <div class="text-center mt-1">
                    <a href="javascript:" [routerLink]="['/auth/login']">{{'auth.login' | translate}}</a>
                  </div>
                </form>
              </div>
              <div class="card-block text-center" *ngIf="isSet">
                <p class="text-primary font-lg">
                  <i class="fa fa-check-square-o font-xl"></i> {{'auth.message.reset_password_msg' | translate}}
                </p>
                <p class="text-primary font-lg">
                  <a href="javascript:" [routerLink]="['/auth/login']" class="text-danger font-lg">
                    <i class="fa fa-sign-in font-xl"></i>
                    {{'auth.message.login_in' | translate}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

