node_modules/
.tmp/
.history/
.vscode/
.env

src/public/apidoc
src/langs/sources
.idea/
hr-api.iml
logs/full.log
logs/info.log
test.js
src/client/frontend/.sourcemaps/
src/client/frontend/dist/
uploads/
.env.development
bin/migrate.js
