<div class="content-heading text-primary">
  {{'panel.slide'|translate}}
</div>

<div class="">
  <!--<h6 class="card-header text-primary">-->
  <!--{{'order.order_list'|translate}}-->
  <!--</h6>-->
  <div class="card-block">
    <div class="row align-items-center">
      <div class="col-sm-12 form-group">
        <button type="button" [routerLink]="['/carousel','creator']"
                class="btn btn-outline-primary pull-right cursor">{{ 'button.create' |
          translate }}
        </button>
      </div>
    </div>
    <!-- /.row -->
    <div *ngIf="tableLoading" class="card-block">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <div *ngIf="!tableLoading">
      <div *ngIf="rows.length===0">
        <div class="text-muted pt-3 pb-3 text-center">
          <div hidden>
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
          </div>
          <div class="pt-3 pb-3 font-xl">
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
            <p>{{'no_content.no_order' | translate}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="rows.length!==0" class="table-responsive table-panel">
        <table class="table table-align-middle table-outline text-center">
          <thead>
          <tr>
            <th>{{'slide.pic'|translate }}</th>
            <th>{{'slide.title'|translate }}</th>
            <th>{{'slide.url'|translate }}</th>
            <th>{{'slide.createdAt'|translate }}</th>
            <th class="text-center">{{'slide.order'|translate }}</th>
            <th>{{'slide.option'|translate }}</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows">
            <td><img src="{{row.slideShowUrl}}" style="width: 80px"></td>
            <td>{{row?.title}}</td>
            <td><a href="{{row?.url}}" target="_blank">{{row?.url}}</a></td>
            <td>{{row?.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-center">{{row?.order}}</td>
            <td>
              <i [routerLink]="['/carousel',row?.id,'edit']" class="color-active fa fa-pencil-square-o text-primary cursor"
                 aria-hidden="true"></i>
              <i (click)="delete(row.id)" class="fa fa-trash text-primary cursor color-active" aria-hidden="true"></i>
            </td>

          </tr>
          </tbody>
        </table>
        <!-- /.table-->
      </div>
      <div class="text-center" [hidden]="tableLoading || rows.length === 0">
        <custom-pagination [itemsPrePage]="meta.pagination.prevPage"
                           [itemsNextPage]="meta.pagination.nextPage"
                           [currentPage]="meta.pagination.currentPage"
                           (pageChanged)="changePage($event)">
        </custom-pagination>
      </div>
    </div>


  </div>
  <!-- /.card-block -->
</div>

