<div class="clearfix no-padding col-xs-12 col-sm-10 col-md-10" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
  <div class="user-right-sidebar">
    <!-------------服务协议--------------->
    <div class="user-center">
      <div class="invitations-wrapper">
        <div class="user-title invitations-title row clearfix ">
          <h1 class="text-head col-xs-10 col-sm-10 col-md-9"><span class="square"></span>服務協議</h1>
        </div>

        <div class="service-agreement">
          <section>尊敬的用戶，歡迎您使用商企匯<a href="javascripte:;" [routerLink]="['/home', 'index']">http://connected.hk/#/</a>。在訪問和使用商企匯的同時，也請您仔細閱讀我們的協議條款。您需要完全接受本協議才能註冊成為我們的用戶。一經註冊，即視為同意本協議中的所有條款內容，需要遵守協議中的所有條款。

            以下的條款作為商企匯用戶在使用商企匯服務時與商企匯達成的協議約定。</section>
          <section>
            <h1>一、服務內容</h1>
            <p>
              商企匯是一個綜合性的網絡信息平台，通過在不同用戶間搭建一個信息化平台，讓所有用戶可以在上面自由交流。本網秉承誠信和開放的原則，力度打造一個豐富和透明的信息平台，實現多種信息的無縫對接和
              交流。本網涉及的內容包括但不限於商會、活動、新聞、商會公告等多個模塊，更大程度地滿足用戶的日常和工作所需。

              商企匯上的所有信息是由用戶自行發佈，所有的內容均由發佈者對信息的真實性負責。商企匯的內部審核不作為信息真實性的保證，商企匯不負有對用戶的身份進行核實的責任和義務，
              故本網站不對用戶發佈信息內容的真實性負任何責任。
            </p>
          </section>

          <section>
            <h1>二、用戶協議的接受與修改</h1>
            <p>
              商企匯提供包括信息瀏覽，發佈等服務（以下稱「商企匯服務」或「服務」）。無論用戶以任何方式使用商企匯服務，包括但不限於發佈信息，瀏覽信息，發佈廣告，發表評論，均被認為用戶已經閱讀和接受本協議。商企匯有權隨時單方面修改本條款並無需通知用戶或取得用戶的同意，如果不同意其中任何的修訂內容，用戶可以主動停止使用服務，如果用戶繼續使用服務，則視為無條件接受條款的變動。用戶需要經常查看本協議，以便知曉這些修訂，商企匯有權利通過包括但不限於刪除信息，終止賬戶，屏蔽IP地址、關
              鍵字、聯繫方式，或法律訴訟等方式執行本用戶協議。商企匯行使修改或中斷服務的權利，不需對用戶或第三方負責。
            </p>
          </section>

          <section>
            <h1>
              三、用戶使用規則
            </h1>
            <ul>
              <li>1、商企匯的服務僅向18歲以上有完全民事行為能力的人提供，如果用戶未滿18歲，用戶需要在監護人的指導下使用。</li>

              <li>2、用戶需要按照商企匯的註冊、登錄程序和相應規則進行註冊、登錄，註冊信息應真實可靠，如果註冊信息發生變動，請及時更新。</li>

              <li>3、用戶需要在適當的模塊中發佈對應的信息，所發佈的信息內容應當真實、可靠並且不得違反商企匯對信息發佈的禁止性規定。用戶需要對自行發表、上傳或者轉載的所   有信息承擔全部責任。</li>

              <li>4、用戶保證不利用商企匯實施任何危害或可能對互聯網的正常運轉造成不利影響的行為，不進行任何危害商企匯的行為。</li>
            </ul>
          </section>

          <section>
            <h1>
              四、內容的審查和責任
            </h1>
            <ul>
              <li>1、使用本網站的服務前，用戶理解本網站提供的模塊及網站內的所有信息，包括其中包含的文字，圖片，鏈接等（以下稱「內容」）均由用戶自行上傳，並且承擔全部責任，
                本網站不對內容的真實性，準確性，有效性和安全性負責，用戶在交易中發生的任何糾紛與本網站無關。</li>

              <li>2、用戶必須對發表或者上傳於商企匯的所有信息均享有完整的知識產權，或已經得到相關權利人的合法授權，並保證該信息不侵犯到任何第三人的合法權益；如用戶違反本條規定造成商企匯被第三人索賠的，
                用戶應全額補償商企匯一切費用(包括但不限於各種賠償費、訴訟代理費及為此支出的其它合理費用)。</li>

              <li>3、用戶在本網站發佈的任何內容不符合法律規定，或不符合本用戶協議規定的，本網有不通知用戶即進行自行處理的權利。處理的方法包括但不限於刪除信息，終止賬戶，屏蔽IP地址、關鍵字、聯繫方式，或法律訴訟等。</li>

              <li>4、用戶在商企匯發佈信息時，應首先進行自審，查看是否有違規或存在歸屬權爭議。一旦用戶在商企匯發佈信息，商企匯視為用戶已經進行自審。</li>
            </ul>
          </section>

          <section>
            <h1>
              五、隱私保護
            </h1>
            <ul>
              <li>
                1、商企匯向您保證不對外公開或向第三方提供您的註冊資料及您在使用本網站服務時存儲在本網站的非公開內容，但下列情況除外：<br>
                  <p class="second-content">
                    （1）事先獲得您的明確授權的；<br>
                    （2）根據有關的法律法規要求，我們必須提供的；<br>
                    （3）按照相關政府主管部門的要求，我們必須提供的；<br>
                    （4）您先行違反本協議內容導致商企匯或第三方或者社會公共利益受損或者受到威脅的，我們有權向相關當事人提供您的相關信息。<br>
                  </p>
              </li>

              <li>
                2、用戶知悉並認可：商企匯可能會與第三方合作向用戶提供相關的網絡服務，在此情況下，如該第三方同意承擔與本網站同等的保護用戶隱私的責任，則
                商企匯有權將用戶的註冊資料等提供給該第三方。另外，在不透露單個用戶隱私資料的前提下，商企匯有權對整個用戶數據庫進行分析並對用戶數據庫進行商業上的利用。
              </li>

              <li>
                3、如果用戶發現個人信息被盜用，或者用戶的版權或者其他權利被侵害，請將此情況告知商企匯並同時提供如下信息和材料：<br>
                <p class="second-content">
                  （1）侵犯您權利的信息的網址，編號或其它可以找到該信息的細節；您保證您是所述的信息是真實有效而且現實存在的；<br>
                  （2）版權或個人信息的合法擁有者的聲明；<br>
                  （3）您的聯繫方式，包括聯繫人姓名，地址，電話號碼和電子郵件；<br>
                  （4）您的身份證複印件、營業執照等。<br>
                </p>
                我們僅接受郵寄、電子郵件或傳真方式的書面侵權通知。情況緊急的，用戶可以通過客服電話先行告知，在接到您的告知提醒後，
                我們會對相關信息進行暫時的屏蔽。在收到用戶提供的書面材料後，我們經審查證實的，將在1-3個工作日內刪除該信息。<br>
              </li>

              <li>4、用戶應確保您自己賬號和密碼的安全，因用戶自己的過失導致損害發生的，商企匯不承擔任何責任。</li>
            </ul>
          </section>

          <section>
            <h1>
              六、免責條款
            </h1>
            <ul>
              <li>1、鑒於商企匯網站僅作為用戶網上發佈信息的網絡平台提供者，並非信息的發佈者；用戶上傳的內容，沒有經過商企匯事先審查，因此商企匯無法保證其內容的真實性、準確性、
                有效性和安全性。因此，用戶確認在使用本網站所提供的服務前，用戶已經知曉，理解並認可此情況。用戶在使用非商企匯自行上傳的內容時遭受的損失和其它一切後果由用戶獨自承擔。
                用戶如因為瀏覽本網站的內容或第三方發佈和上
                傳的內容而因此遭受到任何損失，或與其他用戶發生爭議，就上述損失或爭議或任何方面產生有關的索賠、要求、訴訟、損失和損害，用戶同意免除商企匯和本網站的管理層、
                董事、代理人、關聯公司、母公司、子公司和僱員的責任。</li>
              <li></li>

              <li>2、由於商企匯上的大多數內容來自用戶，本網站不保證這些信息和用戶聯絡方式的準確性和有效性、以及所提供內容質量的安全性或合法性，用戶同意不就其他用戶發佈的內
                容或所作所為追究本網站的責任。本網站對於用戶由於使用商企匯而造成的任何金錢、商譽、名譽的損失，或任何特殊的、間接的、或結果性的損失都不負任何責任。用戶同意就用戶自身行為之合
                法性單獨承擔責任，用戶同意，商企匯和商企匯的所有關聯公司和相關實體對本網站用戶的行為的合法性不承擔任何責任。</li>

              <li>3、除商企匯註明之服務條款外，其他一切因使用商企匯發佈系統而引致之任何意外、疏忽、合約毀壞、誹謗、版權或知識產權侵犯及其所造成損失的（包括因下載而感染電腦病毒），商企匯不承擔任何法律責任。</li>

              <li>4、任何通過商企匯的網頁而鏈接及得到的資訊、產品或服務均系網站用戶自行發佈，引起糾紛的，商企匯不承擔任何法律責任。</li>

              <li>5、包括但不限於當因為不可抗力、來自外部的惡意網絡攻擊或其它非本網站故意行為導致商企匯不能順暢提供服務時，商企匯不承擔任何責任，也不用提供任何補償。</li>

              <li>6、根據法律規定、相關協議約定，商企匯不承擔責任的其他情形。</li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>



