/* 设置tooltip全局样式 */
:host >>> .tooltip.tooltip-top, .tooltip.bs-tether-element-attached-bottom{
     /* top: 90px!important;  */
    /* left: 166px!important; */
}
:host >>> .tooltip-inner {
    max-width: 300px;
    padding: 12px!important;
    background-color: #ffffff!important;
    color: #28ADA7!important;
    border: 1px solid #eee!important;
    opacity: 1.0!important;
    box-shadow: 0 1px 1px rgba(0, 0 , 0, .175);
}

 :host >>> .tooltip-inner::before {
    top: -5px!important;
    left: calc(50% - 10px)!important;
    margin-left: 0!important;
    content: "";
    border-width: 0px 10px 10px!important;
    border-bottom-color: #eee!important;
 }
 :host >>> .tooltip-inner::after {
    top: -3px;
    left: calc(50% - 10px);
    content: "";
    border-width: 0px 10px 10px;
    border-bottom-color: #fff;
}

:host >>> .tooltip.show {
  opacity: 1.0!important;
}
