<div class="clearfix no-padding col-xs-12 col-sm-10 col-md-10">
  <div class="user-right-sidebar user-message">
    <div class="user-center">
      <div class="invitations-wrapper">
        <div class="user-title user-apply-title invitations-wrapper invitations-title row clearfix no-margin-top">
          <h1 class="text-head col-xs-10 col-sm-10 col-md-9"><span class="square"></span>{{'user.navbar.my_message'
            |
            translate}}</h1>
        </div>
      </div>
    </div>
    <!-------------商会邀请--------------->
    <div class="user-center">
      <div class="invitations-wrapper">
        <div class="user-center user-coc-apply">
          <div class="center-wrapper">
              <div *ngIf="announcements?.length > 0">
              <div class="user-card border-top row clearfix" role="button"
                   *ngFor="let item of announcements;let i =index;" >
                <div class="user-card-wrapper col-xs-12 col-sm-10 col-md-9 no-padding clearfix">
                  <div class="coc-info pull-left">
                    <h1 class="coc-title"><a href="javascript:;">{{'chamber.create.name' | translate}}:
                      {{item?.coc?.name}}</a></h1>
                    <p style="color: #828da0">{{'chamber.know.title' | translate}}: {{item?.title}}</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="pull-right text-gray" style="color: #828da0">
                    {{item?.leavingMessagedAt | date :'yyyy-MM-dd'}}
                    <a  (click)="openModel(i)">{{'chamber.btn.see' | translate}}</a>
                  </p>
                </div>
              </div>
              <div class="user-card user-coc-page row clearfix">
                <div class="coc-pagination  col-xs-12 col-sm-12 col-md-12">
                  <div class="pagination-wrapper center-block">
                    <pagination [previousText]="'navbar.previous_page' | translate"
                                [nextText]="'navbar.next_page' | translate"
                                [itemsPerPage]="filter.limit"
                                [totalItems]="userCocMeta.pagination.totalCount"
                                [(ngModel)]="filter.page"
                                (pageChanged)="pageChanged($event)">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>

            <!--加载-->
            <div class="user-card no-invitations-bottom row clearfix" *ngIf="announcementsLoading">
              <div class="no-padding col-xs-12 col-sm-12 col-md-12 clearfix">
                <div class="empty-pic-wrapper text-center clearfix">
                  <img class="empty-pic loading-gif" src="../../../assets/img/loading.gif">
                </div>
              </div>
            </div>

            <!--暂无商会留言-->
            <div class="row clearfix" *ngIf="announcements?.length === 0">
              <div class="no-me-coc-wrapper no-padding col-xs-12 col-sm-12 col-md-12 clearfix">
                <div class="empty-pic-wrapper text-center">
                  <img class="empty-pic" src="../../../../assets/img/no_post.png">
                </div>
                <p class="empty-text text-center">{{'message.no_meassge_add_text' | translate}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true"
     [config]="{backdrop: 'static',ignoreBackdropClick: true}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="col-sm-12">
          <div class="header">
            <h4>
              {{'chamber.left.message' | translate}}
            </h4>
            <a type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
              <span aria-hidden="true">
                <img src="../../../../assets/img/delete.png" height="20" width="20"/>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form class="container-fluid clearPadding" name="mainForm" #mainForm="ngForm">
          <div class="form-group row clearfix">
            <label class="col-md-12 py-h px-1">{{'chamber.know.title' | translate}}</label>
            <div class="col-md-12">
              {{indexRows?.title}}
            </div>
          </div>
          <div class="form-group row clearfix">
            <label class="col-md-12 py-h px-1">{{'chamber.create.contacts' | translate}}</label>
            <div class="col-md-12">
              {{indexRows?.contacts}}
            </div>
          </div>

          <div class="form-group row clearfix">
            <label class="col-md-12 py-h px-1">{{'chamber.create.phone' | translate}}
            </label>
            <div class="col-md-12">
              {{indexRows?.phone}}
            </div>
          </div>


          <div class="form-group row clearfix">
            <label class="col-md-12 py-h px-1">{{'chamber.create.email' | translate}}</label>
            <div class="col-md-12">
              {{indexRows?.email}}
            </div>
          </div>

          <div class="form-group row clearfix">
            <label class="col-md-12 py-h px-1">{{'chamber.know.content' | translate}}</label>
            <div class="col-md-12">
              <p [innerHtml]="indexRows?.leavingMessage"></p>
            </div>
          </div>

          <div class="modal-selected-footer text-center">
            <button type="button" class="btn btn-primary cursor" style="line-height: 1.8;"
                    *ngIf="!indexRows?.messageReply"
                    [disabled]="!mainForm.form.valid || submitLoading" (click)="reply(indexRows?.id)"
                    aria-label="Close">
              <i class="fa fa-save"></i>
              <span *ngIf="submitLoading"><i class="fa fa-spin fa-spinner"></i></span>
              <span *ngIf="!submitLoading">{{'chamber.btn.reply' | translate}}</span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

