<div class="login-body">
  <div class="container d-table">
    <div class="logon-content">
      <div class="text-center">
        <img src="assets/img/logo/logo.png" class="login-logo img-fluid" alt="logo">
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-block" *ngIf="!isSet">
                <form (ngSubmit)="save()" name="mainForm" #mainForm="ngForm">
                  <h2 class="text-center">{{'auth.f_password' | translate}}</h2>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                    <input [(ngModel)]="email" required #emailHandler="ngModel" type="text"
                           name="email"
                           class="form-control" placeholder="Email" email="true">
                  </div>
                  <div *ngIf="emailHandler.errors && (emailHandler.dirty || emailHandler.touched)"
                       class="alert alert-danger">
                    <div [ngClass]="{'d-none': !emailHandler.errors.required}">
                      {{'auth.message.email_required' | translate}}
                    </div>
                    <div [ngClass]="{'d-none': emailHandler.errors.required}">
                      {{'auth.message.email_incorrect' | translate}}
                    </div>
                  </div>
                  <div class="text-center mt-1">
                    <button type="submit" class="btn btn-primary btn-block px-2"
                            [disabled]="emailHandler.errors || Loading">
                      {{'button.submit' | translate}}
                    </button>
                  </div>
                  <div class="text-center mt-1">
                    <!--<a [routerLink]="['/auth/signup']" class="pr-1">{{'auth.sign_up' | translate}}</a>-->
                    <!--<span class="pr-1 text-muted">|</span>-->
                    <a [routerLink]="['/auth/login']">{{'auth.login' | translate}}</a>
                  </div>
                </form>
              </div>
              <div class="card-block text-center" *ngIf="isSet">
                <p class="text-primary font-lg">
                  <i class="fa fa-check-square-o font-xl"></i> {{'auth.message.mail_sent_msg' | translate}}
                </p>
                <p class="text-danger font-lg">
                  <i class="fa fa-envelope-o font-xl"></i>
                  {{'auth.message.pay_attention_mail' | translate}}
                </p>
                <p><a (click)="goBack()">{{'button.back' | translate}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

