<div class="member-login-body">
  <div class="container">
    <div class="login-body row clearfix">
      <!--轮播图-->
      <app-auth-carousel></app-auth-carousel>
      <!--修改密码-->
      <div class="login-from col-xs-12 col-sm-5 col-md-4">
        <form (submit)="restPassword('user')" #memberLogin="ngForm">
          <div class="form-group-1">
            <label class="form-title pull-left forgetT"><span class="block"></span>{{'auth.modify' | translate}}</label>
            <div class="line"></div>
            <input type="password" class="form-control"
                   placeholder="新密码，6-12位不含空格"
                   [ngClass]="{'email-error': !passwordModel.valid && !passwordModel.pristine}"
                   required
                   [(ngModel)]="password" name="password"
                   #passwordModel="ngModel">
            <div [hidden]="passwordModel.valid || passwordModel.pristine" style="display: block"
                 class="alert alert-danger">
              Password is required
            </div>
          </div>

          <div class="form-group-2 forget-form-group">
            <input type="password" class="form-control"
                   placeholder="再输入一遍新密码"
                   [ngClass]="{'email-error': !confirmResult}"
                   required
                   [(ngModel)]="confirmPassword" name="confirmPassword"
                   (keyup)="compare()"
                   (blur)="compare()"
                   #confirmPasswordModel="ngModel">
            <div [hidden]="confirmPasswordModel.valid || confirmPasswordModel.pristine" style="display: block"
                 class="alert alert-danger">
              Confirmation password is required
            </div>
            <div [hidden]="confirmResult" style="display: block"
                 class="alert alert-danger">
              Please enter the same password
            </div>
          </div>

          <button type="submit" class="btn btn-submit"
                  [ngClass]="{'btn-success': memberLogin.form.valid && !loginLoading && confirmResult}"
                  [disabled]="!memberLogin.form.valid || loginLoading || !confirmResult">{{'button.determine' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
