<div class="clearfix no-padding col-xs-12 col-sm-10 col-md-10">
  <div class="user-right-sidebar">
    <!-------------联系我们--------------->
    <div class="user-center">
      <div class="invitations-wrapper">
        <div class="user-title invitations-title row clearfix ">
          <h1 class="text-head col-xs-10 col-sm-10 col-md-9"><span class="square"></span>聯繫我們</h1>
        </div>

        <div class="service-agreement custom-supplement-height contact-us">
          <ul>
            <li><span>郵箱：</span><a href="javascript:;">cs@emcoo.com</a> </li>
            <li><span>地址：</span><a href="javascript:;">香港新界將軍澳唐德街1號將軍澳廣場2樓2005號舖</a> </li>
            <li><span>電話：</span><a href="javascript:;">+852 39064391</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
