{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <p>欢迎! 您的团队已经成功创建! 现在你可以邀请其他人加入你的团队. 按照下面的链接查看团队信息的完整细节.</p>
    <p><a href="{{siteUrl}}">{{siteUrl}}</a></p>
    <p>如果仍有问题, 请联系YOOV支持</p>
    <p>{{ siteSupportEmail }}</p>
    <p>这是一个自动生成的电子邮件, 请不要回复 ***</p>
  {{/content}}
{{/extend}}
