{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <p>歡迎! 您的團隊已經創建成功! 現在你可以邀請其他人加入你的團隊. 按照下面的鏈接查看團隊信息的完整細節.</p>
    <p><a href="{{siteUrl}}">{{siteUrl}}</a></p>
    <p>如果仍有問題, 請聯繫YOOV支持.</p>
    <p>{{ siteSupportEmail }}</p>
    <p>這是一個自動生成的電子郵件, 請不要回覆 ***</p>
  {{/content}}
{{/extend}}
