<div class="clearfix no-padding col-xs-12 col-sm-10 col-md-10">
  <div class="user-right-sidebar">
    <!-------------关于我们--------------->
    <div class="user-center">
      <div class="invitations-wrapper">
        <div class="user-title invitations-title row clearfix ">
          <h1 class="text-head col-xs-10 col-sm-10 col-md-9"><span class="square"></span>關於我們</h1>
        </div>
        <div class="service-agreement custom-supplement-height">
          <section >
            <p>
              商企總匯網是中國領先的B2B電子商務網平台,主要彙集各行各業的優秀生產廠家，免費B2B發佈供求信息網為中小企業的發展提供動力，
              為買賣雙方暢通交易提供最有效、最方便、最快捷的服務商企總匯網是中國領先的B2B電子商務網平台,主要彙集各行各業的優秀生產廠家，
              免費B2B發佈供求信息網為中小企業的發展提供動力，為買賣雙方暢通交易提供最有效、最方便、最快捷的服務。
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
