

<div class="content-heading">
  {{'post.post_list'|translate}}
</div>

<div class="">
  <!--<h6 class="card-header text-primary">-->
  <!--{{'order.order_list'|translate}}-->
  <!--</h6>-->
  <div class="card-block">
    <div class="row align-items-center">
      <div class="col-sm-3 form-group">
        <label>{{'post.title'|translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="searchFilter.title" placeholder="{{'post.title' |translate}}">
      </div>
      <div class="col-sm-3 form-group">
        <label>{{'post.coc'|translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="searchFilter.cocName" placeholder="{{'post.coc' |translate}}">
      </div>
      <div class="col-sm-3 form-group">
        <button (click)="OnSearch()"  type="button" [disabled]="!searchFilter.title && !searchFilter.cocName"
                class="btn btn-outline-primary cursor">{{ 'button.search' | translate }}
        </button>
        <button (click)="onReset()"  type="button" [disabled]="!searchFilter.title && !searchFilter.cocName"
                class="btn btn-outline-primary cursor">{{ 'button.cancel' | translate }}
        </button>
      </div>
      <!--<div class="col-sm-3 form-group">-->
        <!--<button (click)="OnReset()"  type="button"-->
                <!--class="btn btn-outline-primary">{{ 'button.reset' |-->
          <!--translate }}-->
        <!--</button>-->
      <!--</div>-->
    </div>
    <!-- /.row -->
    <div *ngIf="tableLoading" class="card-block">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <div *ngIf="!tableLoading">
      <div *ngIf="rows.length===0">
        <div class="text-muted pt-3 pb-3 text-center">
          <div hidden>
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
          </div>
          <div class="pt-3 pb-3 font-xl">
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
            <p>{{'no_content.no_order' | translate}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="rows.length!==0" class="table-responsive table-panel">
        <table class="table table-align-middle table-outline text-center">
          <thead>
          <tr>
            <th>{{'post.title'|translate }}</th>
            <th>{{'post.coc'|translate }}</th>
            <th>{{'post.publish_time'|translate }}</th>
            <th>{{'post.recommend'|translate }}</th>
            <th>{{'post.status'|translate }}</th>
            <th>{{'post.option'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows" class="post-tr">
            <td>{{row?.title}}</td>
            <td>{{row?.coc?.name}}</td>
            <td>{{row?.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
              <label class="switch switch-3d switch-success">
                <input (change)="switchEnable(row)" [(ngModel)]="row.isFeatured"  [checked]="row.isFeatured" class="switch-input" type="checkbox">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
            <td>
              <label class="switch switch-3d switch-success">
                <input (change)="switchEnable(row)" [(ngModel)]="row.isActive"  [checked]="row.isActive" class="switch-input" type="checkbox">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
            <td>
              <a target="_blank" href="{{front_Path}}/coc-show/{{row?.coc?.id}}/news/{{row?.id}}/detail">{{'coc.check'|translate }}</a>
              <i (click)="deletePost(row)" class="fa fa-trash text-primary cursor color-active" aria-hidden="true"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- /.table-->
      </div>
      <div class="text-center" [hidden]="tableLoading || rows.length === 0">
        <custom-pagination [itemsPrePage]="meta.pagination.prevPage"
                           [itemsNextPage]="meta.pagination.nextPage"
                           [currentPage]="meta.pagination.currentPage"
                           (pageChanged)="changePage($event)">
        </custom-pagination>
      </div>
    </div>

  </div>
  <!-- /.card-block -->
</div>

