<div class="member-login-body">
  <div class="container">
    <div class="login-body row clearfix">
      <!--轮播图-->
      <app-auth-carousel></app-auth-carousel>
      <!--找回密码-->
      <div class="login-from col-xs-12 col-sm-5 col-md-4">
        <form (submit)="forgetPassword()" #forgetPasswordForm="ngForm">
          <div class="form-group-1 forget-padding">
            <label class="form-title pull-left forgetT"><span class="block"></span>{{'auth.back' | translate}}</label>
            <div class="line"></div>
            <input type="email" class="form-control"
                   placeholder="{{'auth.input_email' | translate}}"
                   pattern="^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"
                   [ngClass]="{'email-error': !EmailModel.valid && !EmailModel.pristine}"
                   required
                   [(ngModel)]="email" name="email"
                   #EmailModel="ngModel">
            <div [hidden]="EmailModel.valid || EmailModel.pristine" style="display: block"
                 class="alert alert-danger">
              Email is required
            </div>
          </div>

           <button type="submit" class="btn-submit"
                [ngClass]="{'btn-success': forgetPasswordForm.form.valid && !loginLoading}"
                [disabled]="!forgetPasswordForm.form.valid || loginLoading">{{'auth.next' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>





