{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <p>您好 , {{userName}}申请活动不通过</p>
    <p>理由： {{description}}</p>
    <p>活動標題 ：{{activity.title}}</p>
    <p>活動描述 ：{{activity.description}}</p>
  {{/content}}
{{/extend}}
