{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <p>您好 {{ fullName }} , {{userName}}申请活动提请</p>
    <p>活動標題 ：{{activity.title}}</p>
    <p>活動描述 ：{{{activity.description}}}</p>
  {{/content}}
{{/extend}}
