<div class="user-home-bg">
  <div class="container user-home">
    <div class="clearfix user-center-wrapper">
      <div class="center-navbar col-xs-12 col-sm-2 col-md-2">
        <div class="navbar-wrapper">
          <div class="user-avatar" [routerLink]="['/user', 'info']">
            <label for="avatar" role="button" class="file_cut relative"
                   style="line-height: 25px;background: transparent;border: none;position: relative">
              <img [src]="member?.avatar" class="img-circle center-block">
              <span *ngIf="uploadShow" class="file_upload">{{'global.avatar' | translate}}</span>
            </label>

            <input type="file"
                   id="avatar"
                   multiple="multiple"
                   (change)="fileChangeEvent($event)"
                   placeholder="Upload file"
                   name="files" [accept]="acceptType" hidden/>

          </div>
          <div class="user-email text-center">{{member?.email}}</div>
          <ul class="user-navbar-list clearfix">
            <li [routerLink]="['/user','home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_home.png">
              <img class="active-img" src="../../../assets/img/user_active_home.png"><a>{{'user.navbar.personal_home_page' |
              translate}}</a>
            </li>
            <li [routerLink]="['/user', 'info']" routerLinkActive="active">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_info.png">
              <img class="active-img" src="../../../assets/img/user_active_info.png"><a>{{'user.navbar.my_information' |
              translate}}</a>
            </li>
            <li [routerLink]="['/user', 'coc']" routerLinkActive="active">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_coc.png">
              <img class="active-img" src="../../../assets/img/user_active_coc.png"><a>{{'user.navbar.My_coc' |
              translate}}</a>
            </li>
            <li [routerLink]="['/user', 'activities']" routerLinkActive="active">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_activity.png">
              <img class="active-img" src="../../../assets/img/user_active_activity.png"><a>{{'user.navbar.my_activities' |
              translate}}</a>
            </li>
            <li [routerLink]="['/user', member?.id, 'notice']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_activity.png">
              <img class="active-img" src="../../../assets/img/user_active_activity.png"><a>{{'cocShow.notice.member_notice' |
              translate}}</a>
            </li>
            <li [routerLink]="['/user', 'message']" routerLinkActive="active">
              <span class="square"></span>
              <img class="statice-img" src="../../../assets/img/user_coc.png">
              <img class="active-img" src="../../../assets/img/user_active_coc.png"><a>{{'user.navbar.my_message' |
              translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #coverModals="bs-modal" [config]="{backdrop: 'static',ignoreBackdropClick: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="padding: 15px 15px 30px 20px;">
        <div class="header" style="border: none">
          <h4>
            {{'file.cut' | translate}}
          </h4>
          <a type="button" class="close pull-right" aria-label="Close" (click)="coverModals.hide()">
              <span aria-hidden="true">
                <img style="width: 20px;height: 20px" src="../../../../assets/img/delete.png"/>
              </span>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div class="row clearfix" style="padding-bottom: 40px">
          <div class="col-sm-8">
            <img-cropper #croppers [image]="data" [settings]="cropperSettings"></img-cropper>
          </div>
          <div class="col-sm-4">
             <span class="result rounded" *ngIf="data.image">
              <img class="img-responsive" [src]="data.image" style="width: 100%;">
             </span>
            <div class="text-center" style="width: 100%;margin-top: 30px;">
              <button type="button" class="btn btn-primary btn-submit-primary" data-dismiss="modal"
                      (click)="cropCover(data.image)"
                      [disabled]="loding">
                <i class="fa fa-check"></i>
                <span *ngIf="loding"><i class="fa fa-spin fa-spinner"></i></span>
                <span *ngIf="!loding">{{'chamber.btn.save' | translate}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
