<!-- header -->
<section class="cocNavbar hidden-xs" #header>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-8" style="padding: 0">
        <div class="list-content">
          <img class="coc-icon pull-left" [src]="settings?.logoUrl" [routerLink]="['/']">
          <ul>
            <li class="list" [routerLink]="['/coc-list']" routerLinkActive="active"><a>{{'navbar.coc_list' |
              translate}}</a></li>
            <li class="list" [routerLink]="['/activity-list']" routerLinkActive="active"><a>{{'navbar.activity_list'
              | translate}}</a></li>
            <li class="list" [routerLink]="['/news-list']" routerLinkActive="active"><a>{{'navbar.news_list'
              | translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 hidden-sm" [hidden]="!topSearchBarShow" style="padding-left: 0;padding-right: 20px">
        <div class="search-wrapper lg-search" style="padding-top: 15px">
          <div class="search-input">
            <div class="input-group">
              <input type="text" class="form-control" style="height:30px;" placeholder="{{'global.search_text' | translate }}" aria-label="Search for..." [(ngModel)]="search" (keyup.enter)="onSearch(search)">
              <div class="input-group-addon" style="background: transparent;border-radius: 0;padding-left: 20px;font-size: 12px" role="button" (click)="onSearch(search)"><img style="    width: 15px;
    margin-right: 5px;
}" src="../../../assets/img/navbar_search_icon.png">{{'navbar.search' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-4" style="padding: 0; float: right" [ngClass]="{'col-md-3': topSearchBarShow}">
        <div class="seeker-right">
          <ul class="nav-right">
            <li [ngSwitch]="currentState" class="currentSate" *ngIf="!isMemberLogin && !isLogin">
              <a *ngSwitchCase="'notLogin'" [routerLink]="['/auth', 'login']">{{'navbar.login' |
                translate}}</a>
              <a *ngSwitchCase="'notLogin'" [routerLink]="['/auth', 'signup']">{{'navbar.signup' |
                translate}}</a>
            </li>
            <li class="dropdown" *ngIf="isLogin">
              <a role="button" class="dropdown-toggle" [routerLink]="url">
                {{'navbar.back_coc_center' | translate}}
                <img src="../../assets/img/more_unfold.svg"
                     style="width: 20px; height: auto; margin: 20px 0">
              </a>
              <ul class="dropdown-menu text-left" style="min-width: 150px">
                <li>
                  <a (click)="openModel()">
                    <i class="tiao"></i>
                    <i class="icon if"></i>
                    {{'navbar.base_info' | translate}}
                  </a>
                </li>
                <li>
                  <a (click)="resetModal.show()">
                    <i class="tiao"></i>
                    <i class="icon edit"></i>
                    {{'navbar.modify' | translate}}
                  </a>
                </li>
                <li>
                  <a (click)="logout()">
                    <i class="tiao"></i>
                    <i class="icon logout"></i>
                    {{'navbar.logout' | translate}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown" *ngIf="isMemberLogin">
              <a role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" [routerLink]="['/user/home']">
                {{'navbar.user_center' | translate}}<img src="../../assets/img/more_unfold.svg"
                                                         style="width: 20px; height: auto; margin: 20px 0">
              </a>
              <ul class="dropdown-menu text-left" style="min-width: 150px">
                <li>
                  <a (click)="resetModal.show()">
                    <i class="tiao"></i>
                    <i class="icon if"></i>
                    {{'navbar.modify' | translate}}
                  </a>
                </li>
                <li>
                  <a (click)="logout()">
                    <i class="tiao"></i>
                    <i class="icon logout"></i>
                    {{'navbar.logout' | translate}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                {{'lang.' +language| translate}}
                <img src="../../assets/img/more_unfold.svg"
                     style="width: 20px; height: auto; margin: 20px 0">
              </a>
              <ul class="dropdown-menu lang-item" style="width: 60px">
                <li>
                  <a class="dropdown-item" style="padding-left: 0" href="javascript:" [ngClass]="{'active': language === 'cn'}" (click)="setLanguage('1')">
                    <i class="tiao" style="left: 0"></i>
                    <i class="icon cn_icon"></i>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="padding-left: 0" href="javascript:" [ngClass]="{'active': language === 'hk'}" (click)="setLanguage('2')">
                    <i class="tiao" style="left: 0"></i>
                    <i class="icon hk_icon"></i>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="padding-left: 0" href="javascript:" [ngClass]="{'active': language === 'en'}" (click)="setLanguage('3')">
                    <i class="tiao" style="left: 0"></i>
                    <i class="icon en_icon"></i>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--手機端導航條-->
<section class="nav-main-xs hidden-sm hidden-lg hidden-md">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-6">
        <img class="coc-icon pull-left" [src]="settings?.logoUrl" [routerLink]="['/']">
      </div>
      <div class="col-xs-6">
        <div class="xs-right-icon text-right" (click)="isCollapsed = !isCollapsed">
          <a href="javascript:;">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-xs-content" *ngIf="isCollapsed">
    <div class="modal-xs">
      <ul class="list-unstyled navbar-xs">
        <li class="item-xs" [routerLink]="['/coc-list']" routerLinkActive="active"><a>{{'navbar.coc_list' |
          translate}}</a></li>
        <li class="item-xs" [routerLink]="['/activity-list']" routerLinkActive="active"><a>{{'navbar.activity_list'
          | translate}}</a></li>
        <li class="item-xs" [routerLink]="['/news-list']" routerLinkActive="active"><a>{{'navbar.news_list'
          | translate}}</a></li>
        <li class="item-xs" *ngIf="!isMemberLogin && !isLogin"><a [routerLink]="['/auth', 'login']">{{'navbar.login_enterprise'
          | translate}}</a></li>
        <li class="item-xs" *ngIf="isLogin" (click)="isCollapsedLogion= !isCollapsedLogion">
          <a role="button">
            {{'navbar.back_coc_center' | translate}}
            <img class="pull-right" src="../../assets/img/more_unfold.svg"
                 style="width: 20px;vertical-align: middle;margin-top: 15px;">
          </a>
        </li>


        <li class="item-xs" *ngIf="isMemberLogin" (click)="isCollapsedLogion= !isCollapsedLogion">
          <a role="button">
            {{'navbar.user_center' | translate}}
            <img class="pull-right" src="../../assets/img/more_unfold.svg"
                 style="width: 20px;vertical-align: middle;margin-top: 15px;">
          </a>
        </li>

        <li class="item-xs" *ngIf="isLogin && isCollapsedLogion" [routerLink]="url">
          <a href="javaScript:;">
            {{'global.see_coc' | translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isMemberLogin && isCollapsedLogion" [routerLink]="['/user/home']">
          <a href="javaScript:;">
            {{'global.see_user' | translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isLogin && isCollapsedLogion">
          <a (click)="openModel()">
            {{'navbar.base_info' | translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isCollapsedLogion">
          <a (click)="resetModal.show()">
            {{'navbar.modify' | translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isCollapsedLogion">
          <a (click)="logout()">
            {{'navbar.logout' | translate}}
          </a>
        </li>
        <li class="item-xs" (click)="isLang= !isLang">
          <a role="button">
            {{'lang.' +language| translate}}
            <img class="pull-right" src="../../assets/img/more_unfold.svg"
                 style="width: 20px;vertical-align: middle;margin-top: 15px;">
          </a>
        </li>
        <li class="item-xs" *ngIf="isLang && language !== 'cn'">
          <a class="dropdown-item" href="javascript:" (click)="setLanguage('1')">
            {{'lang.cn'| translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isLang && language !== 'hk'">
          <a class="dropdown-item" href="javascript:" (click)="setLanguage('2')">
            {{'lang.hk'| translate}}
          </a>
        </li>
        <li class="item-xs" *ngIf="isLang && language !== 'en'">
          <a class="dropdown-item" href="javascript:" (click)="setLanguage('3')" *ngIf="language !== 'en'">
            {{'lang.en'| translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>


<div class="modal fade" bsModal #dataModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static',ignoreBackdropClick: true}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="col-sm-12">
          <div class="header">
            <h4>
              {{'navbar.base_info' | translate}}
            </h4>
            <a type="button" class="close pull-right" aria-label="Close" (click)="dataModal.hide()">
              <span aria-hidden="true">
                <img src="../../../../assets/img/delete.png" height="20" width="20"/>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="modal-body" style="padding-top: 0">
        <form class="container-fluid clearPadding" name="mainForm" #mainForm="ngForm">
          <div class="form-group row clearfix">
            <div class="col-md-6 clearPadding">
              <label for="firstName" class="col-md-12 py-h px-1">{{'chamber.create.firstName'
                | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="enterprises.firstName" [disabled]="true">
              </div>
            </div>
            <div class="col-md-6 clearPadding">
              <label for="lastName" class="col-md-12 py-h px-1">{{'chamber.create.lastName'
                | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="enterprises.lastName" [disabled]="true">
              </div>
            </div>
          </div>

          <div class="form-group row clearfix">
            <div class="col-md-6 clearPadding">
              <label for="phone" class="col-md-12 py-h px-1">{{'chamber.member.phone'
                | translate}}</label>
              <div class="col-md-12">
                <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="enterprises.phone">
              </div>
            </div>
            <div class="col-md-6 clearPadding">
              <label for="email2" class="col-md-12 py-h px-1">{{'chamber.member.email'
                | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="email2" name="email2" [(ngModel)]="enterprises.email" [disabled]="true">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-selected-footer text-center">
        <div class="row clearfix">
          <button class="btn-primary btn btn-submit-primary" [disabled]="!mainForm.form.valid || submitLoading" style="line-height: 1.8;" (click)="onSubmit()">
            <span *ngIf="submitLoading"><i class="fa fa-spin fa-spinner"></i></span>
            <span *ngIf="!submitLoading">{{'chamber.btn.submit' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--//修改密码-->
<div class="modal fade" bsModal #resetModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static',ignoreBackdropClick: true}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="col-sm-12">
          <div class="header">
            <h4>
              {{'navbar.revise_password' | translate}}
            </h4>
            <a type="button" class="close pull-right" aria-label="Close" (click)="resetModal.hide()">
              <span aria-hidden="true">
                <img src="../../../../assets/img/delete.png" height="20" width="20"/>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="modal-body" style="padding-top: 0">
        <form class="container-fluid clearPadding" name="postForm" #postForm="ngForm">
          <div class="form-group row clearfix">
            <div class="col-md-12 clearPadding">
              <label for="oldPassword" class="col-md-12 py-h px-1">{{'auth.oldPassword'
                | translate}}</label>
              <div class="col-md-12">
                <input type="password" class="form-control" minlength="6" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword">
              </div>
            </div>
          </div>

          <div class="form-group row clearfix">
            <div class="col-md-12 clearPadding">
              <label for="password" class="col-md-12 py-h px-1">{{'auth.password'
                | translate}}</label>
              <div class="col-md-12">
                <input type="password" class="form-control" minlength="6" id="password" name="password" [(ngModel)]="password">
              </div>
            </div>
          </div>


          <div class="form-group row clearfix">
            <div class="col-md-12 clearPadding">
              <label for="verifyPassword" class="col-md-12 py-h px-1">{{'auth.verifyPassword'
                | translate}}</label>
              <div class="col-md-12">
                <input type="password" class="form-control" minlength="6" id="verifyPassword" name="verifyPassword" [(ngModel)]="verifyPassword">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-selected-footer text-center">
        <div class="row clearfix">
          <button class="btn-primary btn btn-submit-primary" style="line-height: 1.8;" [disabled]="!postForm.form.valid || resetLoading" (click)="onReset()">
            <span *ngIf="resetLoading"><i class="fa fa-spin fa-spinner"></i></span>
            <span *ngIf="!resetLoading">{{'chamber.btn.submit' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- //footer -->
<div class="footer">
  <div class="footer-head">
    <div class="container">
      <div class="row clearfix">
        <div class="right col-xs-12">
          <p style="font-size: 20px">{{'navbar.coc' | translate}}</p>
          <ul class="row clearfix">
            <li style="margin-right: 40px" *ngFor="let item of hotCocs"><a href="{{item?.linkUrl}}" target="_blank">{{item?.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="text">
            <span [innerHtml]="settings?.global?.footer"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
