<div class="text-right content-heading card-block clearfix">
  <h4 class="text-primary pull-left" style="margin-bottom: 0">
    {{'slide.add_slide'|translate}}
  </h4>
  <button [routerLink]="['/carousel/list']" class="btn btn-primary pointer">
    <i class="fa fa-reply font-sm"></i>
    {{'button.back' | translate}}
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-card">
        <header class="row" style="padding: 15px;">
          <label class="col-md-2 py-h px-1" style="padding: 0;margin-bottom: 20px;">
            <sub class="text-danger font-lg">*</sub>
            {{'chamber.know.title' | translate}}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="rows.title" required
                   #titleHandler="ngModel">
            <form-message [control]="titleHandler"
                          [fieldName]="'chamber.know.title' | translate"></form-message>
          </div>
        </header>
        <header class="row" style="padding: 15px;">
          <label for="url" class="col-md-2 py-h px-1"><sub class="text-danger font-lg">*</sub>{{'chamber.know.link_address'
            | translate}}</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="url" name="url" required
                   placeholder="{{'chamber.placeholder.course.link_address' | translate}}"
                   [(ngModel)]="rows.url" #urlHandler="ngModel">
            <form-message [control]="urlHandler"
                          [fieldName]="'chamber.placeholder.course.link_address' | translate"></form-message>
          </div>
        </header>
        <header class="row" style="padding: 15px;">
          <label for="url" class="col-md-2 py-h px-1"><sub class="text-danger font-lg">*</sub>{{'chamber.btn.file_update'
            | translate}}</label>
          <div class="col-md-8">
            <!--<app-file-uploader type="file" [fileInput]="fileName"-->
                               <!--[croppedHeight]="440"-->
                               <!--[croppedWidth]="673"-->
                               <!--[id]="'course'"-->
                               <!--(editChange)="editCountChange($event)" #course></app-file-uploader>-->

            <app-file-uploader type="file" [fileInput]="fileName"
                               [id]="'course'"
                               [width]="650"
                               [height]="420"
                               [croppedHeight]="440"
                               [croppedWidth]="673"
                               [widthCover]="'153px'"
                               (editChange)="editCountChange($event)" #course></app-file-uploader>
          </div>
          <div class="col-md-8 offset-md-2" *ngIf="courseUrl" style="margin-top: 20px">
            <img [src]="courseUrl" alt="" style="width: 100%" class="img-responsive">
          </div>
        </header>

        <header class="row" style="padding: 15px;">
          <label for="order" class="col-md-2 py-h px-1"><sub class="text-danger font-lg">*</sub>{{'chamber.know.sort' |
            translate}}</label>
          <div class="col-md-8">
            <input type="number" class="form-control" id="order" name="order" required
                   placeholder="{{'chamber.placeholder.course.sort' | translate}}"
                   [(ngModel)]="rows.order" #orderHandler="ngModel">
            <form-message [control]="orderHandler"
                          [fieldName]="'chamber.know.sort' | translate"></form-message>
          </div>
        </header>
        <div style="margin-top: 20px;">
          <div  class="col-md-8 offset-md-2">
            <button class="btn btn-primary cursor" (click)="onSubmit()">{{'button.save' | translate}}</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
