<div class="content-heading">
  {{'coc.coc_list'|translate}}
</div>

<div class="">
  <!--<h6 class="card-header text-primary">-->
  <!--{{'order.order_list'|translate}}-->
  <!--</h6>-->
  <div class="card-block">

    <div class="row align-items-center">

      <div class="col-sm-3 form-group">
        <input type="text" class="form-control" [(ngModel)]="filter.search" placeholder="{{'coc.search'|translate}}">
      </div>
      <div class="col-sm-3 form-group">
        <button (click)="onSearch('')" [disabled]="!filter.search" type="button"
                class="btn btn-outline-primary cursor">{{ 'button.reset' |
          translate }}
        </button>
        <button (click)="onSearch(filter.search)" [disabled]="!filter.search" type="button"
                class="btn btn-outline-primary cursor">{{ 'button.search' |
          translate }}
        </button>
      </div>
    </div>

    <!-- /.row -->
    <div *ngIf="tableLoading" class="card-block">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <div *ngIf="!tableLoading">
      <div *ngIf="rows.length===0">
        <div class="text-muted pt-3 pb-3 text-center">
          <div hidden>
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
          </div>
          <div class="pt-3 pb-3 font-xl">
            <img src="../../../assets/img/content/no-role.png" alt="" class="img-fluid mx-auto d-block">
            <p>{{'no_content.no_order' | translate}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="rows.length!==0" class="table-responsive table-panel">
        <table class="table   table-align-middle table-outline text-center">
          <thead>
          <tr>
            <th class="text-center">{{'coc.id'|translate }}</th>
            <th>{{'coc.email'|translate }}</th>
            <th>{{'coc.user_name'|translate }}</th>
            <th>{{'coc.phone'|translate }}</th>
            <th>{{'coc.coc_name'|translate }}</th>
            <th>{{'coc.industry'|translate }}</th>
            <th>{{'coc.location'|translate }}</th>
            <th>{{'coc.link_man'|translate }}</th>
            <th>{{'coc.link_man_phone'|translate }}</th>
            <th>{{'coc.option'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows">
            <td class="text-center">{{row?.id}}</td>
            <td>{{row?.enterprise?.email}}</td>
            <td>{{row?.enterprise?.firstName }}{{row?.enterprise?.lastName}}</td>
            <td>{{row?.enterprise?.phone}}</td>
            <td>{{row?.name}}
            <td>{{row?.industry?.name}}</td>
            <td>{{row?.locations?.name}}</td>
            <td>{{row?.contacts}}</td>
            <td>{{row?.phone}}</td>
            <td>
              <label class="switch switch-3d switch-success">
                <input (change)="switchEnable(row)" [checked]="row.isApproved" [(ngModel)]="row.isApproved" class="switch-input" type="checkbox">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>

              <a [routerLink]="['/coc',row.id,'details']">{{'coc.check'|translate }}</a>
              <i (click)="deleteCoc(row)" class="fa fa-trash text-primary cursor color-active" aria-hidden="true"></i>
            </td>

          </tr>
          </tbody>
        </table>
        <!-- /.table-->
      </div>
      <div class="text-center" [hidden]="tableLoading || rows.length === 0">
        <custom-pagination [itemsPrePage]="meta.pagination.prevPage"
                           [itemsNextPage]="meta.pagination.nextPage"
                           [currentPage]="meta.pagination.currentPage"
                           (pageChanged)="changePage($event)">
        </custom-pagination>
      </div>
    </div>

  </div>
  <!-- /.card-block -->

</div>

